@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.font-sora {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .bg-color{
    background:linear-gradient(45deg, #53db3a,#87e676);
  }